<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference rooms</title>
    <style>
        footer {
        background-color: whitesmoke;
        color: #d11e18;
        padding: 20px;
        text-align: center;
        }
</style>
</head>
<body>
    <h1>MENU:</h1>
    <label for="rooms_list">Rooms list</label>
    <input type="submit" id="rooms_list" value="GO">
    <label for="add_room">Add new room</label>
    <input type="submit" id="add_room" value="GO">
    <footer>
        <p>Created by DAWID SOLEK</p>
    </footer>
</body>
</html>