<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    #footer {
        background-color: whitesmoke;
        color: #d11e18;
        padding: 10px;
        text-align: center;
        }
</style>
    <title>{% block title %}Conference Rooms{% endblock %}</title>
</head>
<body>
<div id="header">
    <h1>{% block header %}MENU{% endblock %}</h1>
</div>
<div id="content">
    {% block content %}
        <nav>
        <ul>
            <li><a href="{% url 'main_app:add_new_room' %}">Add new room</a></li>
            <li><a href="{% url 'main_app:rooms_list' %}">Rooms list</a></li>
        </ul>
    </nav>
    {% endblock %}
</div>
<div id="footer">
    <p>Created by DAWID SOLEK</p>
</div>
</body>
</html>