<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    #footer {
        background-color: whitesmoke;
        color: #d11e18;
        padding: 10px;
        text-align: center;
        }
</style>
    <title>{% block title %}Conference Rooms{% endblock %}</title>
</head>
<body>
<div id="header">
    <h1>{% block header %}MENU{% endblock %}</h1>
</div>
<div id="content">
    {% block content %}
        <nav>
        <ul>
            <li><a href="{% url 'main_app:add_new_room' %}">Add new room</a></li>
            <li><a href="{% url 'main_app:rooms_list' %}">Rooms list</a></li>
        </ul>
    </nav>
        <form action="/room/search/" method="GET">
        {% csrf_token %}
            <p>Search for available rooms:</p>
            <label for="name">Room's name</label>
            <input type="text" name="name" id="name">
            <br>
            <label for="capacity">Minimum capacity</label>
            <input type="number" name="capacity" id="capacity">
            <br>
            <label for="projector">Availability of a projector</label>
            <label>YES</label>
            <input type="radio" name="projector" id="projector" value="True">
            <label>NO</label>
            <input type="radio" name="projector" id="projector" value="False">
            <br>
            <input type="submit" value="SEARCH">
        </form>
    {% endblock %}
</div>
<div id="footer">
    <p>Created by DAWID SOLEK</p>
</div>
</body>
</html>