{% extends 'base.html' %}
{% block title %}Rooms list{% endblock %}
{% block header %}List of rooms{% endblock %}
{% block content %}
    {% for room in rooms %}
        <nav>
        <ul>
            <li><a href="{% url 'main_app:room_name' room_id=room.id %}">{{ room.name }}</a>
            {% for reservation in reservations %}
                {% if reservation.date == current_date and reservation.room == room %}
                    RESERVED TODAY
                {% endif %}
            {% endfor %}</li>
        </ul>
    </nav>
    {% endfor %}
{% endblock %}